<!DOCTYPE html>
<html lang="vi">
<head>
  <meta charset="UTF-8">
  <title>Quản lý Danh mục</title>
  <link rel="stylesheet" href="/css/styles.css">
  <script src="/javascripts/category-script.js" defer></script>
</head>

<!-- template -->
<% function renderManagementSection(title, id, list, placeholderId, placeholderName, renameFunction, deleteFunction, addFunction) { %>
  <div class="box flex-row-item flex-column gap-4">
    <h2><%= title %></h2>
    <list id="<%= id %>-list" class="flex-column gap-4 scrollable">
      <% list.forEach(item => { %>
        <li class="flex-row gap-4">
          <input type="text" value="<%= item._id %>" data-id="<%= item._id %>" size="5" readonly>
          <input class="flex-row-item" type="text" value="<%= item[id + '_name'] %>" data-id="<%= item._id %>" onkeypress="<%= renameFunction %>(event, this)">
          <button class="delete-button" onclick="<%= deleteFunction %>('<%= item._id %>')"> - </button>
        </li>
      <% }) %>
    </list>
    <div class="flex-row gap-4">
      <input type="text" id="new-<%= id %>-id" placeholder="<%= placeholderId %>" size="5">
      <input class="flex-row-item" type="text" id="new-<%= id %>" placeholder="<%= placeholderName %>">
      <button class="add-button" onclick="<%= addFunction %>()">+</button>
    </div>
  </div>
<% } %>

<body>
  <div class="flex-column m-16 gap-16">
    <div class="flex-row flex-row-space-between gap-8">
      <h1 class="center-title">Quản lý Danh mục</h1>
        <button onclick="window.location.href='/'">Quay lại</button>
    </div>
    
    <div id="message" class="box message-panel flex-row-item"></div>

    <div class="flex-row flex-row-top gap-8">
      <!-- Quản lý Khoa -->
      <%= renderManagementSection("Khoa", "major", majors, "ID Khoa", "Tên Khoa", "renameMajor", "deleteMajor", "addMajor") %>
      <!-- Quản lý Tình trạng SV -->
      <%= renderManagementSection("Tình trạng Sinh viên", "status", status, "ID Tình trạng", "Nhập tình trạng mới", "renameStatus", "deleteStatus", "addStatus") %>
      <!-- Quản lý Chương trình -->
      <%= renderManagementSection("Chương trình", "program", programs, "ID Chương trình", "Nhập chương trình mới", "renameProgram", "deleteProgram", "addProgram") %> 
    </div>
  </div>
</body>
</html>
