<!DOCTYPE html>
<html lang="<%= lang || 'vi' %>">
<head>
  <meta charset="UTF-8">
  <title> <%= t.category_management %> </title>
  <link rel="stylesheet" href="/css/styles.css">
  <script src="/javascripts/category-script.js" defer></script>
  <base href="/<%= lang ? lang + '/' : '' %>">
</head>

<% mode = lang || '' %>

<!-- template -->
<% function renderManagementSection(title, id, list, placeholderId, placeholderName, renameFunction, deleteFunction, addFunction) { %>
  <div class="box grow flex-column gap-4">
    <h1> <%= t.category_management %> </h1>
    <div id="<%= id %>-list" class="flex-column gap-4 scrollable">
      <% list.forEach(item => { %>
        <div class="flex-row gap-4">
          <input type="text" value="<%= item._id %>" data-id="<%= item._id %>" size="5" readonly>
          <input class="grow" type="text" value="<%= item[id + '_name'] %>" data-id="<%= item._id %>" onkeypress="<%= renameFunction %>(event, this)">
          <button class="delete-button" onclick="<%= deleteFunction %>('<%= item._id %>')"> - </button>
        </div>
      <% }) %>
    </div>
    <div class="flex-row gap-4">
      <input type="text" id="new-<%= id %>-id" placeholder="<%= placeholderId %>" size="5">
      <input class="grow" type="text" id="new-<%= id %>" placeholder="<%= placeholderName %>">
      <button class="add-button" onclick="<%= addFunction %>()">+</button>
    </div>
  </div>
<% } %>

<body>
  <div class="flex-column m-16 gap-16">
    <div class="flex-row space-between">
      <h1 class="center-title"> <%= t.category_management %> </h1>
      <div class="flex-row">
        <button type="button" onclick="
          window.location.href = '/en' + window.location.pathname.slice(3) + window.location.search + window.location.hash;"
          >
          <img style="object-fit: contain; height: 20px;" src="/images/flag-gb-svgrepo-com.svg"/>
        </button>
        <button type="button" onclick="
          window.location.href = '/vi' + window.location.pathname.slice(3) + window.location.search + window.location.hash;"
          >
          <img style="object-fit: contain; height: 20px;" src="/images/flag-for-flag-vietnam-svgrepo-com.svg"/>
        </button>      
        <button onclick="window.location.href='student'"> <%= t.go_back %> </button>
      </div>
    </div>
    
    <div id="message"></div>

    <div class="flex-row align-left gap-8">
      <!-- Quản lý Khoa -->
      <%= renderManagementSection(t.major, "major", majors, t.major_code, t.enter_new_major, "renameMajor", "deleteMajor", "addMajor") %>
      <!-- Quản lý Tình trạng SV -->
      <%= renderManagementSection(t.study_status, "status", status, t.study_status_code, t.enter_new_study_status, "renameStatus", "deleteStatus", "addStatus") %>
      <!-- Quản lý Chương trình -->
      <%= renderManagementSection(t.program, "program", programs, t.program_code, t.enter_new_program, "renameProgram", "deleteProgram", "addProgram") %> 
    </div>
  </div>
</body>
</html>
