<!DOCTYPE html>
<html lang="<%= lang || 'vi' %>">
<head>
  <title> <%= t.class_management %> </title>
  <link rel="stylesheet" href="/css/styles.css">
  <base href="/<%= lang ? lang + '/' : '' %>">
</head>

<body>
    <nav>
      <%- include('./partials/nav-bar.ejs') %>
      <div class="flex-row">
        <button onclick="window.location.href='class/add'">Thêm lớp học</button>
        <div class="grow"></div>
        <!-- Pagination -->
        <div class="flex-row align-center justify-right gap-8">
            <button 
                class="pagination-button <%= !results.hasPrevPage ? 'disabled' : ''%>"
                onclick="onPageChange('<%= results.page - 1 %>')"> 
                <
            </button>
            <span> <%= t.page %> <%= results.page %> / <%= results.totalPages %></span>
            <button 
                class="pagination-button <%= !results.hasNextPage ? 'disabled' : ''%>"
                onclick="onPageChange('<%= results.page + 1 %>')">
                >
            </button>
        </div>
      </div>
    </nav>

    <div class="main_container flex-column">
      <table class="w-full">
          <thead>
              <tr>
                  <th></th>
                  <th> <%= t.class_code %> </th>
                  <th> <%= t.course_code %> </th>
                  <th> <%= t.course_name %> </th>
                  <th> <%= t.academic_year %> </th>
                  <th> <%= t.semester %> </th>
                  <th> <%= t.lecturer %> </th>
                  <th> <%= t.class_size %> </th>
                  <th> <%= t.schedule %> </th>
                  <th> <%= t.classroom %> </th>
                  <th> <%= t.creation_date %> </th>
              </tr>
          </thead>

          <tbody>
              <% for (var i=0; i < results.docs.length; i++) { %>
              <tr class="table-row" onclick="window.location.href='class/<%= results.docs[i]._id %>'">
                  <td></td>
                  <td>
                    <a href="class/<%= results.docs[i]._id %>">
                      <%= results.docs[i]._id %>
                    </a>
                  </td>
                  <td><%= results.docs[i].course_id._id %></td>
                  <td><%= results.docs[i].course_id.course_name %></td>
                  <td class="text-center"><%= results.docs[i].academic_year %></td>
                  <td class="text-center"><%= results.docs[i].semester %></td>
                  <td><%= results.docs[i].lecturer %></td>
                  <td class="text-center"><%= results.docs[i].max_students %></td>
                  <td><%= results.docs[i].schedule %></td>
                  <td><%= results.docs[i].classroom %></td>
                  <td><%= results.docs[i].created_at.toLocaleDateString('vi-VN') %></td>
                </tr>
              <% } %>
          </tbody>
      </table>
      <% if (results.docs.length == 0) { %>
        <div class="empty-table">(<%= t.no_courses_found %> )</div>
      <% } %>
  </div>
  <!-- Pagination Script -->
  <script>
    function onPageChange(page) {
      const url = new URL(window.location.href);
      url.searchParams.set('page', page);
      url.searchParams.set('limit', '<%= results.limit %>');
      window.location.href = url.toString();
    }
  </script>
</body>
</html>