<!DOCTYPE html>
<html lang="<%= lang || 'vi' %>">
<% mode = current_class != null %>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        <% if (mode) { %>
            <%= t.change %>: <%= current_class._id %>
        <% } else { %>
            <%= t.add_new_class %>
        <% } %>
    </title>
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/choices.js/public/assets/styles/choices.min.css">
    <script src="https://cdn.jsdelivr.net/npm/choices.js/public/assets/scripts/choices.min.js"></script>
    <script src="/javascripts/class-detail-edit.js" defer></script>
    <base href="/<%= lang ? lang + '/' : '' %>">
</head>

<body>
    <div class="flex-column m-16 gap-16">
        <div class="flex-row space-between">
            <h1> <%= mode ? current_class._id : t.add_new_class %> </h1>
            <button onclick="window.location.href='class'"> <%= t.go_back %> </button>
        </div>

        <form class="grid box grid-gap-16 bg-grey-100 align-center px-64 pt-16 pb-32" onsubmit="onClassSubmitted(event, <%= mode %>)">
            <h2 class="grid-colspan-12 text-center"> <%= t.class_information %> </h2>
            <div id="message" class="grid-colspan-12 message-panel" style="display: none;"></div>

            <label for="id" class="grid-colspan-2 text-right font-bold"> <%= t.class_code %> </label>
            <div class="grid-colspan-10">
                <input id="id" class="grid-colspan-10 w-full border-box" type="text" name="id" value="<%= mode ? current_class._id : "" %>" <%= mode ? "readonly" : "" %> />
            </div>

            <label for="course_id" class="grid-colspan-2 text-right font-bold"> <%= t.course_code %> </label>
            <div class="grid-colspan-10">
                <!-- <input id="course_id" class="grid-colspan-10 w-full border-box" type="text" name="course_id" value="<%= mode ? current_class.course_id : "" %>" /> -->
                <select id="course_id" class="w-full border-box" name="course_id">
                    <option value="" disabled selected>-- <%= t.select_course %> --</option>
                    <% for (let i = 0; i < courses.length; i++) { %>
                        <option value="<%= courses[i]._id %>" <%= mode && current_class.course_id === courses[i]._id ? 'selected' : '' %>>
                            <%= `${courses[i]._id} - ${courses[i].course_name}` %>
                        </option>
                    <% } %> 
                </select>
            </div>

            <label for="academic_year" class="grid-colspan-2 text-right font-bold"> <%= t.academic_year %> </label>
            <div class="grid-colspan-10">
                <input id="academic_year" class="grid-colspan-10 w-full border-box" type="text" name="academic_year" value="<%= mode ? current_class.academic_year : "" %>" />
            </div>

            <label for="semester" class="grid-colspan-2 text-right font-bold align-self-start mt-10"> <%= t.semester %> </label>
            <div class="grid-colspan-10">
                <!-- <input id="semester" class="grid-colspan-10 w-full border-box" type="text" name="semester" value="<%= mode ? current_class.semester : "" %>" /> -->
                <select id="semester" class="w-full border-box" name="semester">
                    <option value="" disabled selected>-- Chọn học kì --</option>
                    <option value="1" <%= mode && current_class.semester === '1' ? 'selected' : '' %>> <%= t.semester_i %> </option>
                    <option value="2" <%= mode && current_class.semester === '2' ? 'selected' : '' %>> <%= t.semester_ii %> </option>
                    <option value="summer" <%= mode && current_class.semester.toLowerCase()  === 'summer' ? 'selected' : '' %>><%= t.semester_summer %> </option>
                </select>
            </div>

            <label for="lecturer" class="grid-colspan-2 text-right font-bold"> <%= t.lecturer %> </label>
            <div class="grid-colspan-10">
                <input id="lecturer" class="grid-colspan-10 w-full border-box" type="text" name="lecturer" value="<%= mode ? current_class.lecturer : "" %>" />
            </div>

            <label for="max_students" class="grid-colspan-2 text-right font-bold"> <%= t.total_students %> </label>
            <div class="grid-colspan-10">
                <input id="max_students" class="grid-colspan-10 w-full border-box" type="number" min="1" name="max_students" value="<%= mode ? current_class.max_students : "" %>" />
            </div>

            <label for="schedule" class="grid-colspan-2 text-right font-bold"> <%= t.schedule %> </label>
            <div class="grid-colspan-10">
                <input id="schedule" class="grid-colspan-10 w-full border-box" type="text" name="schedule" value="<%= mode ? current_class.schedule : "" %>" />
            </div>

            <label for="classroom" class="grid-colspan-2 text-right font-bold"> <%= t.classroom %> </label>
            <div class="grid-colspan-10">
                <input id="classroom" class="grid-colspan-10 w-full border-box" type="text" name="classroom" value="<%= mode ? current_class.classroom : "" %>" />
            </div>
                
            <div class="grid-colspan-12 flex-row justify-right">
                <button type="submit" class="px-32"> <%= t.save_changes %> </button>
                <% if (mode) { %>
                    <button type="button" class="px-32" onclick="onDeleteClassClicked('<%= current_class._id %>')"><%= t.delete_class %></button>
                <% } %>
                <button type="button" class="px-32" onclick="window.location.href='class'"><%= t.cancel %></button>
            </div>
        </form>
    </div>
</body>
<script>
    new Choices('#course_id', {
        searchEnabled: true,
        shouldSort: true,
        removeItemButton: true,
        itemSelectText: '',
    });
</script>
</html>