<!DOCTYPE html>
<html lang="<%= lang || 'vi' %>">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title> <%= t.course_management %> </title>
  <link rel="stylesheet" href="/css/styles.css">
  <base href="/<%= lang ? lang + '/' : '' %>">
</head>

<body>
  <nav >
    <%- include('./partials/nav-bar.ejs', { t }) %>
    <div class="flex-row">
      <button onclick="window.location.href='course/add'"> <%= t.add_course %> </button>
      <div class="grow"></div>
      <!-- Pagination -->
      <div class="flex-row align-center justify-right gap-8">
        <button 
          class="pagination-button <%= !results.hasPrevPage ? 'disabled' : ''%>"
          onclick="onPageChange(<%= results.page - 1 %>)"> 
          <
        </button>
        <span> <%= t.page %> <%= results.page %> / <%= results.totalPages %></span>
        <button 
          class="pagination-button <%= !results.hasNextPage ? 'disabled' : ''%>"
          onclick="onPageChange(<%= results.page + 1 %>)">
          >
        </button>
      </div>
    </div>
  </nav>

  <table class="w-full">
    <thead>
      <tr>
        <th> <%= t.course_code %> </th>
        <th> <%= t.course_name %> </th>
        <th> <%= t.department %> </th>
        <th> <%= t.course_description %> </th>
        <th> <%= t.prerequisite_course_code %> </th>
        <th> <%= t.course_status %> </th>
        <th> <%= t.creation_date %> </th>
      </tr>
    </thead>
    <!-- Sample data -->
    <tbody>
      <% for (var i=0; i < results.docs.length; i++) { %>
        <tr>
          <td>
            <a href="course/<%= results.docs[i]._id %>">
              <%= results.docs[i]._id %>
            </a>
          </td>
          <td>
            <a href="course/<%= results.docs[i]._id %>">
              <%= results.docs[i].course_name %>
            </a>
          </td>
          <td><%= results.docs[i].department %></td>
          <td class="max-w-300"><%= results.docs[i].description %></td>
          <td><%= results.docs[i].prerequisite_course || 'N/A' %></td>
          <td><%= results.docs[i].is_active ? t.open : t.closed %></td>
          <td><%= results.docs[i].created_at.text %></td>
        </tr>
      <% } %>
    </tbody>
  </table>
  <!-- Pagination Script -->
  <script>
    function onPageChange(page) {
      const url = new URL(window.location.href);
      url.searchParams.set('page', page);
      url.searchParams.set('limit', '<%= results.limit %>');
      window.location.href = url.toString();
    }
  </script>
</body>