<!DOCTYPE html>
<html lang="vi">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>
    Đăng ký học phần
  </title>
  <link rel="stylesheet" href="/css/styles.css"/>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/choices.js/public/assets/styles/choices.min.css" />
  <script src="https://cdn.jsdelivr.net/npm/choices.js/public/assets/scripts/choices.min.js"></script>
</head>
<body>
  <div class="flex-column m-16 gap-16">
    <div class="flex-row space-between">
      <h1><%= student._id %> - <%= student.name %></h1>
      <button type="button" onclick="window.location.href='/enrollment'">Quay lại</button>
    </div>
    <div class="max-w-1000 align-self-center flex-column gap-16">
      <div class="flex-column gap-16 align-center">
        <!-- Student Academic Info -->
        <div class="grow grid grid-gap-8 border-box w-full box bg-grey-200 px-32 pt-16 pb-16">
          <h2 class="grid-colspan-12 text-center">Thông tin học tập</h2>
          <div class="grid-colspan-4 border-right font-bold">MSSV</div>
          <div class="grid-colspan-8"><%= student._id %></div>
          <div class="grid-colspan-4 border-right font-bold">Họ tên</div>
          <div class="grid-colspan-8"><%= student.name %></div>
          <div class="grid-colspan-4 border-right font-bold">Ngày sinh</div>
          <div class="grid-colspan-8"><%= student.birthdate.toLocaleDateString('vi-VN') %></div>
          <div class="grid-colspan-4 border-right font-bold">Giới tính</div>
          <div class="grid-colspan-8"><%= student.gender %></div>
          <div class="grid-colspan-4 border-right font-bold">Chương trình</div>
          <div class="grid-colspan-8"><%= student.program ? `${student.program._id} - ${student.program.program_name}` : 'N/A' %></div>
          <div class="grid-colspan-4 border-right font-bold">Ngành học</div>
          <div class="grid-colspan-8"><%= student.major ? `${student.major._id} - ${student.major.major_name}` : 'N/A' %></div>
          <div class="grid-colspan-4 border-right font-bold">Trạng thái</div>
          <div class="grid-colspan-8"><%= student.status ? `${student.status._id} - ${student.status.status_name}` : 'N/A' %></div>
        </div>
        <!-- Enrolled Classes -->
        <% renderClassList(
          "Danh sách học phần đã đăng ký",
          enrolledClasses
        ) %>
        </div>
        <!-- Available Classes -->
        <%= renderClassList(
          "Danh sách học phần có thể đăng ký",
          availableClasses
        ) %>
        </div>
      </div>
    </div>


  </div>
  
</body>

<% function renderClassList(title, classes) { %>
  <div class="grow box flex-column w-full h-300 border-box p-16">
    <h2 class="text-center"><%= title %></h2>
    <!-- Headers -->
    <div class="grid grid-colspan-12 grid-gap-8 border-bottom p-8 min-w-800">
      <div class="grid-colspan-2 font-bold">Mã lớp</div>
      <div class="grid-colspan-4 font-bold">Tên học phần</div>
      <div class="grid-colspan-2 font-bold">Số tín chỉ</div>
      <div class="grid-colspan-2 font-bold">Học kỳ</div>
      <div class="grid-colspan-2 font-bold">Năm học</div>
    </div>
    <div class="grid grid-gap-8 overflow-y-auto">
      <% if (classes.length > 0) { %>
        <% classes.forEach(classItem => { %>
          <div class="grid grid-colspan-12 grid-gap-8 border-bottom p-8 min-w-800">
            <div class="grid-colspan-2"><%= classItem._id %></div>
            <div class="grid-colspan-4"><%= classItem.course_id.course_name %></div>
            <div class="grid-colspan-2"><%= classItem.course_id.credits %> TC</div>
            <div class="grid-colspan-2"><%= classItem.semester.toLowerCase() === 'summer' ? 'HK Hè' : `HK ${classItem.semester}` %></div>
            <div class="grid-colspan-2"><%= classItem.academic_year %></div>
          </div>
        <% }) %>
      <% } else { %>
        <p class="grid-colspan-12 text-center font-italic">(Không có dữ liệu)</p>
      <% } %>
    </div>
  </div>
<% } %>

</html>