<!DOCTYPE html>
<html lang="vi">
<head>
  <meta charset="UTF-8">
  <title>Quản lý Danh mục</title>
  <link rel="stylesheet" href="/css/styles.css">
  <script src="/javascripts/manageDropdowns.js" defer></script>
</head>
<body>
  <div class="flex-column">
    <div class="flex-row flex-row-center gap-8">
      <h1 class="center-title">Quản lý Danh mục</h1>
        <button onclick="window.location.href='/'">Quay lại</button>
    </div>
    
    <div class="flex-row flex-row-top-center gap-8">
      <!-- Quản lý Khoa -->
      <div class="box flex-column gap-4">
        <h2>Khoa</h2>
        <ul id="major-list" class="flex-column gap-4"> 
          <% majors.forEach(major => { %>
            <li class="flex-row gap-4">
              <input type="text" value="<%= major.major_name %>" data-id="<%= major._id %>" onchange="renameMajor(this)">
              <button class="delete-button" onclick="deleteMajor('<%= major._id %>')"> - </button>
            </li>
          <% }) %>
        </ul>
        <div class="flex-row gap-4">
          <input class="flex-row-item" type="text" id="new-major" placeholder="Nhập tên Khoa mới">
          <button class="add-button" onclick="addMajor()">+</button>
        </div>
      </div>

      <!-- Quản lý Tình trạng SV -->
      <div class="box flex-column gap-4">
        <h2>Tình trạng Sinh viên</h2>
        <ul id="status-list" class="flex-column gap-4">
          <% status.forEach(s => { %>
            <li class="flex-row gap-4">
              <input class="flex-row-item" type="text" value="<%= s.status_name %>" data-id="<%= s._id %>" onchange="renameStatus(this)">
              <button class="delete-button" onclick="deleteStatus('<%= s._id %>')"> - </button>
            </li>
          <% }) %>
        </ul>
        <div class="flex-row gap-4">
          <input class="flex-row-item" type="text" id="new-status" placeholder="Nhập tình trạng mới">
          <button class="add-button" onclick="addStatus()">+</button>
        </div>
      </div>

      <!-- Quản lý Chương trình -->
      <div class="box flex-column">
        <h2>Chương trình</h2>
        <ul id="program-list" class="flex-column gap-4">
          <% programs.forEach(p => { %>
            <li class="flex-row gap-4">
              <input class="flex-row-item" type="text" value="<%= p.program_name %>" data-id="<%= p._id %>" onchange="renameProgram(this)">
              <button class="delete-button" onclick="deleteProgram('<%= p._id %>')"> - </button>
            </li>
          <% }) %>
        </ul>
        <div class="flex-row gap-4">
          <input class="flex-row-item" type="text" id="new-program" placeholder="Nhập chương trình mới">
          <button class="add-button" onclick="addProgram()">+</button>
        </div>
      </div>
    </div>
  </div>
</body>
</html>
